<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Launchbox_Local_Scraper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Launchbox_Local_Scraper.Properties.Settings>
            <setting name="launchboxPath" serializeAs="String">
                <value />
            </setting>
            <setting name="videosPath" serializeAs="String">
                <value />
            </setting>
            <setting name="onlyShowMissing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkipPlatforms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="renameOriginal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="runForOnePlatform" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doThemesAlso" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doVideoSnaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="audioPath" serializeAs="String">
                <value />
            </setting>
            <setting name="imagesPath" serializeAs="String">
                <value />
            </setting>
        </Launchbox_Local_Scraper.Properties.Settings>
    </userSettings>
</configuration>